<%= render 'layouts/header' %>

<h1>All Events</h1>

<%= link_to 'New Event', new_event_path %>

<h2>Past Events</h2>
<ul>
  <% Event.past_events.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>
<h2>Future Events</h2>
<ul>
  <% Event.future_events.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>
